.footer-container {
    width: 100%;
    overflow-y: auto;
    background-color: #dedede;
    display: flex;
    flex-direction: column;
}

.subfooter {
    width:100%;
    background-color: #262626;
    text-align: left;
    font-size: smaller;
}

.footermain {
    
    color: white;
    display: flex;
    flex-direction: row;
}

.footerleft {
    display: flex;
    flex-direction: column;
    min-width: 33.33%;
    align-items: center;
    padding-top: 5%;
}

.footercenter {
    display: flex;
    flex-direction: column;
    min-width: 33.33%;
    justify-content: center;
}

.footerright {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 33.33%;
    padding-bottom: 3%;
}

.social {
    position: relative;
    margin:0;
    padding:0;
    display:flex;
    align-self: center;
  }
  
  .socialitems {
    list-style: none;
  }
  
  .socialitems a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }
  
  .socialitems a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  
  .socialitems a .fa {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  }
  
  .socialitems:nth-child(1) a:hover .fa {
    color: #3b5998;
  }
  
  .socialitems:nth-child(2) a:hover .fa {
    color: #00aced;
  }
  
  .socialitems:nth-child(3) a:hover .fa {
    color: #e4405f;
  }




.nav {
    position: relative;
    padding:0;
    display:flex;
    flex-direction: column;
    
}


.navitems {
    list-style: none;
    margin-bottom: 2%;
}


.navitems a {
  text-decoration: none;
  font-family: 'Atomic Age';
  color: #262626;
}

.navitems a:hover {
    text-decoration: none;
    color: red;
  }