.Flipcontainer {
    font-size: calc(10px + 2vmin);
    background-color: white;
    color: skyblue;
    scrollbar-width: none;
    display: flex;
    overflow-x: auto;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
  }
  
  .Flipcontainer::-webkit-scrollbar {
    display: none;
  }
  
  .Flipcontainer div {
    margin-right: 20px;
    min-width: 250px;
  }